<app-nav-bar-admin></app-nav-bar-admin>
  <div class="container">
    <table class="table table-hover top-margin">
      <thead>
        <th>Nonce</th>
        <th>Prev Hash</th>
        <th>Aplicant Email</th>
        <th>Bid amount</th>
        <th>Timestamp</th>
        <th>Hash</th>
        <th>Bid Type</th>
        <th>ETA</th>
        <th>Select</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let gr of list; let i = index"  [attr.data-index]="i">
          <ng-container *ngIf="gr.bidType =='finalBid'">
          <td >{{gr.nonce}}</td>
          <td >{{gr.prevHash.substring(0,7)}}</td>
          <td >{{gr.applicantEmail}}</td>
          <td >{{gr.bidAmount}}</td>
          <td >{{gr.timeStamp.substring(0,24)}}</td>
          <td >{{gr.hash.substring(0,7)}}</td>
          <td >{{gr.bidType}}</td>
          <td >{{gr.eta}}</td>
          <td ><button (click)="onUpdateSelection(gr.applicantEmail,i)" [disabled]="gr.nonce == 0" class="btn btn-outline-dark">
            {{ gr.selected? 'Unselect' : 'Select' }}
          </button></td>
        </ng-container>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <button type="submit" (click)="sendNotification()" class="btn btn-primary">Assign GR</button>
    </div>
    <br><br>
  </div>